{{!-- Create Follower Dialog – Footer part --}}
<div class="dshideout-dialog-footer-bar">
  {{#if isStep2}}
  <label class="dshideout-checkbox-label dshideout-create-as-item-label">
    <input type="checkbox" name="createAsItem" {{#if createAsItem}}checked{{/if}} />
    {{localize "DSHIDEOUT.CreateFollower.CreateAsItem"}}
  </label>
  <button type="button" class="dshideout-btn dshideout-btn-primary"
          data-action="createFollower"
          {{#unless canCreate}}disabled{{/unless}}>
    <i class="fas fa-user-plus"></i> {{localize "DSHIDEOUT.CreateFollower.Create"}}
  </button>
  {{/if}}
</div>
