<div class="dshideout-dialog-footer-bar">
  <button type="button" class="dshideout-btn dshideout-btn-primary" data-action="saveSettings">
    <i class="fas fa-save"></i> {{localize "DSHIDEOUT.Projects.SaveSettings"}}
  </button>
</div>
